/*estudio luz clara*/

/*variables y configuracion*/
/*una variable guarda un valor con un nombre para poder reutilizarla */

/*se declara dentro de :root que represeenta el elemento html y es el ancestro de todos .Todos los elementos del documento lo pueden usar */

:root {
    /*paleta de colores*/
    --color-tinta: #1a1a1a; /*texto principal , casi negro*/
    --color-suave: #6b6b6b; /*texto secundario pies de fotos*/
    --color-marca: #2c3e50; /*Azul del estudio*/
    --color-acento: #c87941; /*terracota de los botones*/
    --color-acento-osc: #a45f2e; /*terracota oscuro*/
    --color-fondo: #fafaf8; /*tblanco roto no blanco oscuro*/
    --color-fondo-alt: #f0eee9; /*para alternar fondos secciones */
    --color-linea: #dddad3; /*borddes y separadores*/
    --color-blanco: #ffffff; /*blanco puro*/

    
/*tipogfrafia*/
--fuente-titulo: georgia, 'times new roman', serif;
--fuente-texto: 'segoe ui' ,Arial, sans-serif;

/*espaciado conversion 1rem=10px*/
--esp-xs: 0.8rem;/*8px*/
--esp-sm: 1.6rem;/*16px*/
--esp-md: 2.4rem;/*24px*/
--esp-lg: 4.0rem;/*40px*/
--esp-xl: 8rem;/*80px*/

/*otros elementos*/

--radio: 0.6rem /*6px*/
--sombra-1: 0 0.2rem 0.6rem rgba (0,0,0,.06);/*APEMAS UNA SOMBRA*/
--sombra-2: 0 0.4rem 1.2rem rgba (0,0,0,.10);/*TARJETAS*/
--sombra-3: 0 0.8rem 2.0rem rgba (0,0,0,.16);/*ELEMENTOS elevados*/
--transicion: 0.25s easy;
--ancho-max: 120rem; /*1200px*/

}

/*reset y base tipografia*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*la linea mas importante del reset : porque sin ella si una caja (todos son cajas textos imagenes etc)le damos un width de 300px y ademas un padding de 20 px y ademas un border de 2 pixeles la cajan en realidad mide 300+20+20+2+2=344px cuando se aplica esta linea en estos tanto los padding como los bordes van incluidos en el tamaño final y se descuentan hacia el centro*/
}
/*la base del tamaño la tecnica del 62.5%*/
html{
    font-size: 62.5%; /*por omision el navegador usa 16px para el tamaño base el 62.5% es exactamente 10 Tiene que  ver con accesiblidad y la parte responsive */
    scroll-behavior: smooth; /*hace saltos suavesal usar navegacion por anclas */
}
body{
    font-size: 1.6rem; /*si no se agrega e esta linea el texto no toma el valor de los 16px base y quedaria texto casi elegibles*/
    font-family: var(--fuente-texto);
    line-height: 1.6;
    color: var(--color-tinta);
    background-color: var(--color-fondo);
}
/*gerarquia de titulos */
h1, h2, h3 {
    font-family: var(--fuente-titulo);
    line-height: 1.2;
    color: var(--color-marca);
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.0rem;
}

p{
    margin-bottom: var(--esp-sm);
}
a{
    color: var(--color-acento);
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*contenedores y secciones */
.seccion{
    max-width: var(--ancho-max);/*toma todo el ancho displonible*/
    margin-left: auto;
    margin-right: auto; /*el margin left y rigth en auto centran los bloques repartiendo el espacio por igual */
}
.seccion-alterna{
    background-color: var(--color-fondo-alt);
    max-width: none; /*se anula el ancho maximo para que el fondo ocupe todo el ancho de pantalla */
}
.seccion-alterna >* {
    max-width: var(--ancho-max);
    margin-left: auto;
    margin-right: auto;/*el contenido de esta seccion se limita y se centra > la boquita abierta significa hijo directo eso significa que alcanza solo  el primer nivel del hijo directo*/
}

.seccion-titulo {
    margin-bottom: var(--esp-sm);
    text-align: center;
    max-width: 65ch; /*la unidad de medida ch equivale al ancho del caracter 0 de la fuente en uso son 65 caracteres por linea para una lectura comoda*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--esp-lg);
    text-align: center;
    color: var(--color-suave);
}
.pagina-encabezado {
    max-width: var(--ancho-max);
    margin: 0 auto;
    padding: var(--esp-xl) var(--esp-md) var(--esp-lg); /*tres valores que afectan arriba , olos lados y abajo*/
    text-align: center;
}

.pagina-titulo {
    margin-bottom: var(--esp-xs);
}

.pagina-bajada {
    color: var(--color-suave);
    font-size: 1.8rem;
}
.subtitulo{
    margin-top: var(--esp-md);
    margin-bottom: var(--esp-xs);
}
/*cabecera y menu*/
.cabecera{
    display: flex; /*activa el flexbox*/
    justify-content: space-between;/*colocar el primer al inicio y el segundo al final*/
    align-items: center;
    padding: var(--esp-sm) var(--esp-md);
    border-bottom: 0.1rem solid var(--color-linea);
    top: 0;
    position: sticky;
    z-index: 100;

}

.logo{
    display: flex;
    align-items: center;
    gap: var(--esp-xs);
    color: var(--color-marca);
}
.logo:hover .logo-icono{
    transform:rotate(-8deg)/*cuando el cursor este sobre el logo se vuelve -8 grados */
}

.logo-texto {
    font-family: var(--fuente-titulo);
    font-size: 2rem;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: var(--esp-sm);
    list-style: none;
}

.menu-enlace {
display: inline-block; /*esta linea permite aplicar relleno*/
padding: var(--esp-xs) var(--esp-sm);
color: var(--color-tinta);
font-weight: 600;
border-radius: var(--radio);
transition: background-color var(--transicion) color var(--transicion);

}
.menu-enlace:hover {
    background-color: var(--color-fondo-alt);
    color: var(--color-marca);
}

.menu-enlace:focus {
    outline: 0.2rem solid var(--color-acento);
    outline-offset: 0.2rem; /* se activa coon la tecla tab al llegar el enlace  permite navegar en el sitio con el teclado*/
}

.menu-enlace.activo {  /*das clases misno elemento significa que el elemento que tenga las 2 clases e dla marca de la pagina actual o activa*/
    color: var(--color-acento);
}

/*portada*/
/*aqui va la imagen de fondo*/

.portada {
    background-image: url('../recursos/portada.webp');
    background-color: var(--color-marca);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 55rem;
    display: flex;
    align-items: center;
    padding: var(--esp-md);
    text-align: center;
}

.portada-caja {
background-color: rgba(0, 0, 0, 0.45);
padding: var(--esp-lg);
border-radius: var(--radio);
max-width: 70rem;
}

.portada-titulo {
    color: var(--color-blanco);
    margin-bottom: var(--esp-sm);
}

.portada-bajada {
    color: var(--color-fondo);
    font-weight: 1.8rem;
    margin-bottom: var(--esp-md);
}