.inicial{
    max-width: 1200px;
    padding: 25px;
    margin: 0 auto ;

}

body{ font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(249, 249, 248);
    background-color: rgb(68, 63, 88);
}
h1{
    color: rgb(252, 252, 252);
    font-family:'Times New Roman', Times, serif ;
    font-size: 66px;
    text-align: center;
    letter-spacing: 10px;
   
}
    
h2{
    color: rgb(136, 130, 153);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
}


p{
    color: rgb(0, 0, 0);
    font-size: medium;
    word-spacing: 2px;
    padding: 10px;
}
.resaltado{
    background-color:rgb(151, 151, 163) ;
    padding: 15px 15px 15px 15px;
    width: 200;
}
nav a{
    color: rgb(229, 230, 229);
    text-decoration: none;
}

#fin{
    color: rgb(104, 61, 68);
    padding: 20px;
    text-align: center;
}

nav a {
    color:rgb(1, 21, 21);
    text-transform: capitalize;
    transition: color 0.3s;
    margin-left: 90px;
    font-size: xx-large;
   
    

}

nav a:hover{
color: rgb(72, 71, 73);
}
.destacar{
    color: rgb(30, 29, 29);
    
}
p:first-letter{
    font-size: larger;
    font-weight: bolder;
    color: rgb(3, 3, 254);
}
body{
    font-family: "Protest Guerrilla";
}
header{
    background-image: url(/unidad-03-css/sitio-personalcontratacion-guardas/Recursos2/images\ \(1\).jpg);
    background-size: cover;
    background-position: right;
    padding: 1px;
    position: relative;
   


}
#intro {
    text-transform: uppercase;
    color: rgb(232, 236, 231);
    text-align: center;

}
nav a ul{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(86, 129, 143);
    padding: 20px 15px;
    margin: 15px;
    
}

nav ul li{
    list-style-type: none;
}
.tabla{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    text-decoration: underline;
     color: rgb(186, 203, 188);
}
main a{
     border-bottom: 1px solid #a9aeb3;
}
header nav ul li{
    display: inline;
  
}

.prueba{
    margin-left: 300px;
    margin-top: 10px;
    word-spacing: 8px;
    letter-spacing: 5px;
    
    
}
.alinear{
  
    text-align: center;
    display: inline;
    margin-left: 90px;
}
ul li {
     display: inline-block;
}


img{
    margin-left: 200px;
    border: 2px solid white;
    
}

.logito{
    margin-left: 800px;
    margin-bottom: 5px ;
}
img:hover{ 
    
    
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0,5);
    transform: rotate(5deg);
    filter: invert(500%);
}
video{
    margin-left: 300px;
}
.textico{
    text-align: center;
    font-weight: 70;

}
    
.textico:hover{
   
    transform: scale(1,2);
     filter: contrast(1.5);
}
